[Desktop Entry]
Name=Calc
Comment=Perform simple calculations
Encoding=UTF-8
Version=0.1.0
Type=Application
Exec=/usr/bin/ecalc
Icon=calculator.png
Terminal=false
Categories=Utilities;Application;Office;
SingleInstance=true
StartupNotify=true

